html {
    background: url(image2/bg.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-backgroud-size : cover;
background-size: cover;

}
body {
    margin: 0;
    
   
}
.container {
   width: 1100px;
    height: 500px;
    text-align: center;
    background-color: rgba(52,73,94,0.7);
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 60px;
}


/* -------------------- Page Styles (not required) */
div { margin: 0px; }

/* -------------------- Select Box Styles: bavotasan.com Method (with special adaptations by ericrasch.com) */
/* -------------------- Source: http://bavotasan.com/2011/style-select-box-using-only-css/ */
#mainselection1 select {
   border: 0;
   color: chartreuse ;
   background: transparent;
   font-size: 15px;
   font-weight: bold;
   padding: 2px 10px;
   width: 378px;
   *width: 350px;
   *background: white ;
   -webkit-appearance: none;
 
}

#mainselection1 {
   overflow:hidden;
   width:350px;
   -moz-border-radius: 9px 9px 9px 9px;
   -webkit-border-radius: 9px 9px 9px 9px;
   border-radius: 9px 9px 9px 9px;
   box-shadow: 1px 1px 11px #330033;
   background: blueviolet  url("http://i62.tinypic.com/15xvbd5.png") no-repeat scroll 319px center;
margin: auto 1px;
    margin-top: 10px;
}


#mainselection2 select {
   border: 0;
   color: chartreuse ;
   background: transparent;
   font-size: 15px;
   font-weight: bold;
   padding: 2px 10px;
   width: 378px;
   *width: 350px;
   *background: #58B14C;
   -webkit-appearance: none;
 
}

#mainselection2 {
   overflow:hidden;
   width:350px;
   -moz-border-radius: 9px 9px 9px 9px;
   -webkit-border-radius: 9px 9px 9px 9px;
   border-radius: 9px 9px 9px 9px;
   box-shadow: 1px 1px 11px #330033;
   background: blueviolet  url("http://i62.tinypic.com/15xvbd5.png") no-repeat scroll 319px center;
 margin: auto 1px;
    margin-top: 50px;
}
#mainselection0 select {
   border: 0;
   color: chartreuse ;
   background: transparent;
   font-size: 15px;
   font-weight: bold;
   padding: 2px 10px;
   width: 378px;
   *width: 350px;
   *background: #58B14C;
   -webkit-appearance: none;
 
}

#mainselection0 {
   overflow:hidden;
   width:350px;
   -moz-border-radius: 9px 9px 9px 9px;
   -webkit-border-radius: 9px 9px 9px 9px;
   border-radius: 9px 9px 9px 9px;
   box-shadow: 1px 1px 11px #330033;
   background: blueviolet  url("http://i62.tinypic.com/15xvbd5.png") no-repeat scroll 319px center;
 margin: auto 1px;
    margin-top: 70px;
}
#mainselection4 select {
   border: 0;
   color: chartreuse ;
   background: transparent;
   font-size: 15px;
   font-weight: bold;
   padding: 2px 10px;
   width: 378px;
   *width: 350px;
   *background: white ;
   -webkit-appearance: none;
 
}

#mainselection4 {
   overflow:hidden;
   width:350px;
   -moz-border-radius: 9px 9px 9px 9px;
   -webkit-border-radius: 9px 9px 9px 9px;
   border-radius: 9px 9px 9px 9px;
   box-shadow: 1px 1px 11px #330033;
   background: blueviolet  url("http://i62.tinypic.com/15xvbd5.png") no-repeat scroll 319px center;
margin: auto 1px;
    margin-top: 25px;
}

#mainselection5 select {
   border: 0;
   color: chartreuse ;
   background: transparent;
   font-size: 15px;
   font-weight: bold;
   padding: 2px 10px;
   width: 378px;
   *width: 350px;
   *background: white ;
   -webkit-appearance: none;
}

#mainselection5 {
   overflow:hidden;
   width:350px;
   -moz-border-radius: 9px 9px 9px 9px;
   -webkit-border-radius: 9px 9px 9px 9px;
   border-radius: 9px 9px 9px 9px;
   box-shadow: 1px 1px 11px #330033;
   background: blueviolet  url("http://i62.tinypic.com/15xvbd5.png") no-repeat scroll 319px center;
margin: auto 1px;
    margin-top: 60px;

    

    
}
#mainselection6 select {
   border: 0;
   color: chartreuse ;
   background: transparent;
   font-size: 15px;
   font-weight: bold;
   padding: 2px 10px;
   width: 378px;
   *width: 350px;
   *background: #58B14C;
   -webkit-appearance: none;
 
}

#mainselection6 {
   overflow:hidden;
   width:350px;
   -moz-border-radius: 9px 9px 9px 9px;
   -webkit-border-radius: 9px 9px 9px 9px;
   border-radius: 9px 9px 9px 9px;
   box-shadow: 1px 1px 11px #330033;
   background: blueviolet  url("http://i62.tinypic.com/15xvbd5.png") no-repeat scroll 319px center;
position:fixed;
transition: .5s ease;
top: 23.5%;
left:62.5%

}
#text{

    position:absolute;
    transition: .5s ease;
   top: 30%;
    left:64%;

}
#q {
  
      
padding: 15px 25px;
    color: WHITE;
    background-color: #2ECC71;
    border: none;
    border-radius: 4px;
    border-bottom: 4px solid #27AE60;
    cursor: pointer;
    position:absolute;
    transition: .5s ease;
   top: 30%;
    left:67%;

}
.btn-login {
    
padding: 15px 25px;
    color: #fff;
    background-color: #2ECC71;
    border: none;
    border-radius: 4px;
    border-bottom: 4px solid #27AE60;
    cursor: pointer;
    position:absolute;
    transition: .5s ease;
   top: 85%;
    left:46%;

}

.banner{
   background-color: rgba(52,73,94,.4);
    color: white;
    font-family: serif;

}
footer {
    padding: 1em;
    color: black;
    background: transparent ;
    clear: left;
   
    font: message-box;
   margin: auto 1px;
    margin-top:0px;
}

a:link, a:visited {
    background-color: transparent;
    color: white;
    padding: 1px 14px;
 
    text-decoration: none;
    display: inline-block;
    font-family: Monospace;
    
    
}


a:hover, a:active {
    background-color: graytext;
}
h4 {
    text-align: right;
}